<% unless current_user %>
	<div data-role="content">
		<div class="centered">
			<h1><%= image_tag "giftaidr_logo.png" %></h1>
			<h2>For Freelancers & Sole Traders</h2>
			<h3>Record your GiftAid donations.<br />Make your tax return easier.<br />Feel good!</h3>
			<%= link_to "Sign Up", new_user_registration_path, 'data-role' => 'button', 'data-inline' => 'true' %>
			<%= link_to "Login", login_path, 'data-role' => 'button', 'data-theme' => "b", 'data-inline' => 'true' %>
			<!--<p><strong>GiftAidr has recorded <%= number_to_currency(@overall, :unit => "£") %> of GiftAid donations!</strong></p>-->
			<p>GiftAidr is a <strong>secure</strong> and <strong>easy</strong> way to keep track of your GiftAid donations.</p>
			<p>Don't stress out trying to remember how much you donated last year while completing your tax return - GiftAidr will tell you!</p>
		</div>
	</div>
<% else %>
	<div data-role="header" data-theme="c" data-backbtn="false">
		<h1>My Donations</h1>
		<%= link_to 'Add', new_donation_path, "class" => "ui-btn-right", 'data-icon' => 'plus' %>
	</div>
	<div data-role="content">
	  <ul data-role="listview">
	  <% @donations.each do |donation| %>
	  	<li class="ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-btn-up-c">
			<%= link_to donation do %>
				<h3><%= donation.charity %></h3>
				<p><%= number_to_currency(donation.amount, :unit => "£")+': '+short_date(donation.donation_date) %></p>
			<% end %>
			<%= link_to 'edit donation', edit_donation_path(donation), "data-icon" => "gear" %>
		</li>
	<% end %>
	  </ul>
	  
	</div>
	<div data-role="content">
		<h3>Total Donated: <%= number_to_currency(@total/0.8, :unit => "£") %></h3>
		<p class="donation_note">based on donations of <%= number_to_currency(@total, :unit => "£") %></p>
		<p class="claimback_note">
			You can claim back <%= number_to_currency((@total/0.8)*0.2, :unit => "£") %> if you pay the higher tax rate of 40%<br />
			You can claim back <%= number_to_currency(((@total/0.8)*0.2)+((@total/0.8)*0.1), :unit => "£") %> if you pay the higher tax rate of 50%
		</p>
	</div>
<% end %>
