<div data-role="header">
	<h1><%= @donation.charity %></h1>
	<%= link_to 'Home', donations_url, "class" => "ui-btn-right" %>
</div>
<div data-role="content">

	<p id="notice"><%= notice %></p>

	<p>
	  <b>Charity:</b>
	  <%= @donation.charity %>
	</p>

	<p>
	  <b>Amount:</b>
	  <%= number_to_currency(@donation.amount, :unit => "£") %>
	</p>

	<p>
	  <b>Date:</b>
	  <%= long_date(@donation.donation_date) %>
	</p>
	<% unless @donation.notes.blank? %>
	<p>
	  <b>Notes:</b>
	  <%= @donation.notes %>
	</p>
	<% end %>
	<p>
	  <%= link_to "Edit", edit_donation_path(@donation), 'data-role' => 'button', 'data-icon' => "gear" %>
	</p>
</div>
