<div data-role="content">

	<p id="notice"><%= notice %></p>

	<h2><%= @donation.charity %></h2>

	<p><b><%= number_to_currency(@donation.amount, :unit => "£") %></b></p>

	<p><%= long_date(@donation.donation_date) %></p>
	
	<% unless @donation.notes.blank? %>
	<p>
	  <b>Notes:</b><br>
	  <%= @donation.notes %>
	</p>
	<% end %>
	<p>
	  <%= link_to "Edit", edit_donation_path(@donation), 'data-role' => 'button', 'data-icon' => "gear", 'data-inline' => 'true', 'data-theme' => "b" %>
	  <%= link_to "Delete", @donation, :method => :delete, "data-icon" => "delete", 'data-role' => 'button', 'data-inline' => 'true' %>
	</p>
</div>
