<!DOCTYPE html>
<html>
<head>
  <title>Giftaidr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
  <link rel="stylesheet" href="/stylesheets/scaffold.css" />
  <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
  <%= csrf_meta_tag %>
  <script>
	if(navigator.userAgent.match(/Android/i)){
	    window.scrollTo(0,1);
	 }
  </script>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
</head>
<body>
	<div data-role="page" data-add-back-btn="true">
		<% unless @welcome %>
			<div data-role="header" class="head_bar" data-theme="b">
				<h1><%= link_to(image_tag("giftaidr_logo_sm.png"), root_url) %></h1>
				<%= link_to 'Add', new_donation_path, "class" => "ui-btn-right", 'data-icon' => 'plus' if params[:controller] == "donations" %>
			</div>
		<% end %>
		<%= yield %>
		<div data-role="footer" class="ui-bar" data-theme="b" data-position="fixed">
			<div data-role="controlgroup", data-type='horizontal', class="footer_buttons">
				<%= link_to 'Logout', logout_path, 'data-role' => 'button', 'data-type' => 'horizontal' if current_user %>
				<%= link_to 'Privacy', privacy_policy_path, 'data-role' => 'button', 'data-type' => 'horizontal' %>
				<%= link_to 'T&C', terms_and_conditions_path, 'data-role' => 'button', 'data-type' => 'horizontal' %>
			</div>
			<div class="footer_copyright">&copy; 2011 <%= link_to "bobop", "http://bobop.co.uk", 'data-role' => 'button' %></div>
		</div><!-- /footer -->
	</div>
	<script type="text/javascript">
	    $('[data-role=page]').live('pageshow', function (event, ui) {
	        try {
	            var pageTracker = _gat._getTracker("UA-157020-32");
	            pageTracker._trackPageview();
	        } catch(err) {

	        }
	    });
	</script>
</body>
</html>
